body{
	background-image: url("black.jpg");
	background-size: cover;	
}

ul {

  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.title {
  font-size: bold;
  color: White;
  text-align:center;

}
.container {
  display:block;

text-align:center;
color: white;
}

table {
    width: auto;
    margin-left: auto;
    margin-right: auto;
color: white;
margin-bottom:10px;
} 