body{
	background-image: url("black.jpg");
	background-size: cover;	
}

ul {

    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.title {
  font-size: bold;
  color: White;
  text-align:center;

}


.title2 {

  font-size: bold;
  color: White;
  text-align:center;


}

#option{
display: block;
    margin-left: auto;
    margin-right: auto;

  position: relative;
  font-family: Arial;
margin-bottom:25px;

}
#textarea{
display: block;
    margin-left: auto;
    margin-right: auto;

}
#container {
  text-align: center;
}

.button{
display:inline-block;
  width: 150px;
  height: 30px;
  font-size: 15px;
  color: white;
  text-align: center;
  background: #00FFFF;
  border: 0;
  cursor: pointer; 
margin-bottom: 25px;
margin-left : 30px;
margin-right: 25px;	
}


